# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual Environment
# ======================
.venv/
venv/
ENV/
env/

# ======================
# Environment variables
# ======================
.env

# ======================
# Streamlit cache
# ======================
.streamlit/

# ======================
# IDE / Editor files
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Jupyter (if used later)
# ======================
.ipynb_checkpoints/